alias gs="git status"
alias gd="git diff"
alias tmux_reload="tmux source-file ~/.tmux.conf"
alias attach="tmux a -dt main || tmux new-session -s main"
alias serve="python -m SimpleHTTPServer 5000; echo Started on localhost:5000"

# Use neovim if installed
if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
fi
