#################################################################################
# Path
#################################################################################

export PATH="$PATH:$HOME/bin"
export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$HOME/.fzf/bin"

if [ -d "/usr/local/go/bin" ]; then
    export PATH="$PATH:/usr/local/go/bin"
fi

if [ -d "/usr/local/nvim-linux64/bin" ]; then
    export PATH="$PATH:/usr/local/nvim-linux64/bin"
fi

#################################################################################
# General
#################################################################################

export VISUAL="vim"
export EDITOR="$VISUAL"

export PATH="$PATH:$(go env GOPATH)/bin"
export GOPATH=$(go env GOPATH)
